.section {
  width: 100%;
  max-width: var(--base-width);
  padding: var(--section-padding-top, 20px) 0 var(--section-padding-bottom, 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /*
    This makes sure the section is not hidden by the navbar
    when page is scrolled automatically after clicking on a navigation link
    with a section anchor
  */
  scroll-margin-top: 100px;
}

/* .section:has(+ .section) {
  padding-bottom: 40px;
} */

.section + .section {
  margin-top: 80px;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: bold;
  width: 100%;
  margin-bottom: 32px;
  padding: 0 30px;
}

@container root (width < 768px) {
  .section {
    padding-top: min(var(--section-padding-top, 20px), 52px);
    padding-bottom: min(var(--section-padding-bottom, 20px), 52px);
  }

  .section + .section {
    margin-top: 48px;
  }
}
